.row
  .large-12.columns
    %br
    - unless user_signed_in?
      %p It's that time of year again. Time for the 2014 edition of The TAG Games. We're currently building a more robust site for handling signups, scheduling, and results.

      %p If you're a TAG member, use the menu icon in the top left to sign up for the TAG Games and vote for which games you would like to play.

      %p
        In the meantime, come check us out at
        = link_to "TheAdultGamer.com", 'http://www.theadultgamer.com'

    - if user_signed_in?
      %h5
        You've successfully signed up for the 2014 TAG Games! Keep an eye on this page for when voting begins. We'll schedule the most popular games based on everyone's availability (which you'll be able to specify later).

      - 2.times do
        %br

      %hr

      // Xbox One Games
      .row
        .large-offset-3.large-6.columns
          = image_tag 'http://maxlevel.org/wp-content/uploads/2013/10/xbox-one-logo-600x300.gif'

      // Find out how many rows of games we'll need (starting wth row zero)
      - sets = (@xbox_one_games.count.to_f / 4).floor

      - (0..sets).to_a.collect { |x| x*4 }.each do |game_index| # This gives us the first game's index value for each row
        - 3.times do
          %br
        .row{style: 'margin-bottom: 48px;'}
        - (game_index..game_index+3).to_a.each do |i|
          - if game = @xbox_one_games[i] # If we have a game to display
            .large-3.columns{id: "game-#{game.id}"}
              = render partial: 'game', object: game

      %hr

      // PS4 Games
      .row
        .large-offset-3.large-6.columns
          = image_tag 'http://www.play-mag.co.uk/wp-content/uploads/2013/05/sony-ps4-logo.jpg'

      // Find out how many rows of games we'll need (starting wth row zero)
      - sets = (@ps4_games.count.to_f / 4).floor

      - (0..sets).to_a.collect { |x| x*4 }.each do |game_index| # This gives us the first game's index value for each row
        - 3.times do
          %br
        .row{style: 'margin-bottom: 48px;'}
        - (game_index..game_index+3).to_a.each do |i|
          - if game = @ps4_games[i] # If we have a game to display
            .large-3.columns{id: "game-#{game.id}"}
              = render partial: 'game', object: game

      %hr

      // Xbox 360 Games
      .row
        .small-offset-3.small-6.columns
          = image_tag 'http://img3.wikia.nocookie.net/__cb20120715180351/halo/images/6/60/Current_Xbox_360_Logo.png'

      // Find out how many rows of games we'll need (starting wth row zero)
      - sets = (@xbox_360_games.count.to_f / 4).floor

      - (0..sets).to_a.collect { |x| x*4 }.each do |game_index| # This gives us the first game's index value for each row
        - 3.times do
          %br
        .row{style: 'margin-bottom: 48px;'}
        - (game_index..game_index+3).to_a.each do |i|
          - if game = @xbox_360_games[i] # If we have a game to display
            .small-3.columns{id: "game-#{game.id}"}
              = render partial: 'game', object: game

      %hr

      // Other Games
      .row
        .small-offset-3.small-6.columns
          = image_tag 'http://farm8.staticflickr.com/7192/6976712425_4a378c11b8_o.jpg'

      // Find out how many rows of games we'll need (starting wth row zero)
      - sets = (@other_games.count.to_f / 4).floor

      - (0..sets).to_a.collect { |x| x*4 }.each do |game_index| # This gives us the first game's index value for each row
        - 3.times do
          %br
        .row{style: 'margin-bottom: 48px;'}
        - (game_index..game_index+3).to_a.each do |i|
          - if game = @other_games[i] # If we have a game to display
            .small-3.columns{id: "game-#{game.id}"}
              = render partial: 'game', object: game
