.row
  .small-12.columns
    %h3 List of Games by Total Signups

    %table
      %thead
        %tr
          %th
            %center Game Title
          %th
            %center Platform
          %th
            %center Scheduled Time
          %th
            %center Total Signups
          %th
            %center LoH
          %th
            %center Ubo
          %th
            %center Nink
      
      %tbody
        - loh_team = User.where(username:"lackofharmony").first.team
        - ubo_team = User.where(username:"lilubo").first.team
        - nink_team = User.where(username:"captnink").first.team
        - @games.each do |game|
          - loh_count = 0
          - ubo_count = 0
          - nink_count = 0
          
          - game.votes.each do |vote|
            - case vote.user.team
            - when loh_team
              - loh_count += 1
            - when ubo_team
              - ubo_count += 1
            - when nink_team
              - nink_count += 1
          %tr
            %td= link_to game.title, game
            %td
              %center= game.platform
            %td
              %center
                - if game.ongoing
                  Ongoing
                - elsif game.time_slot
                  = game.time_slot.scheduled_time.to_s(:event_time)
                - else
                  Not Scheduled
            %td{ style: 'text-align: right;' }= game.votes.count
            %td{ style: 'text-align: right;' }= loh_count
            %td{ style: 'text-align: right;' }= ubo_count
            %td{ style: 'text-align: right;' }= nink_count